@model Library.Models.BorrowingEntryModel

@{
    ViewData["Title"] = "BorrowBook";
}

<h1>BorrowBook</h1>

<h4>BorrowingEntryModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Library" asp-action="CreateBorrowBook" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Book" class="control-label"></label>
                <input asp-for="Book.Id" class="form-control" type="hidden" />
                <!-- potential security risk, hidden field that can be unhidden by inspect element. if introducing user borrowing capabilties, fix this-->
                <span class="form-control">@Model.Book.Title</span>
                <span asp-validation-for="Book.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User" class="control-label"></label>
                <select asp-for="User.Id" asp-items="@(new SelectList(ViewBag.Users, "Id", "FullName"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
