@{
    ViewData["Title"] = "Įkelti knygas iš excel";
}

<h3 class="text" >Knygų įkėlimas</h3>

<h4 class="text-primary">Norint įkelti duomenis iš excel failo, yra šie reikalavimai:</h4>
<p> - Failo formatas turi būti .xlsx arba .xls</p>
<p> - Failas turi nebūti tuščias</p>
<p> - Faile turi būti nurodyti šie stulpeliai (be kabučių): "Invent. Nr.", "Pavadinimas", "Autorius", "Metai", "Skyrius", "Kaina". Iš nenurodytų stulpelių jokie duomenis nebus kraunami.</p>
<p> - Į biblioteką nebus keliamos knygos, kurios jau yra įkeltos bibliotekoje (tikrinami kartu Pavadinimas ir Invent. Nr.).</p>
<div>
    <hr />

    <form enctype="multipart/form-data" asp-action="ImportFromExcelConfirm">
        <div class="form-group">
        <input type="file" name="File" class="form-control-file" required/>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Įkelti</button>
        <a class="btn btn-secondary" asp-action="Index">Atgal</a>
    </form>
</div>

@if(ViewBag.Error != null)
{
    <p class="text-danger"><b>KLAIDA: @ViewBag.Error</b></p>
}
