@model Library.Models.GroupModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Valdymo tipas</h1>

<div>
    <a class="btn btn-success" asp-controller="GroupManagement" asp-action="Index">Grupių valdymas</a>
    <a class="btn btn-info" asp-action="Index">Vartotojų valdymas</a>
</div>
